[Unit]
Description=CityStock Shopify upload assistant
Wants=shopifyasst.timer

[Service]
Type=onehsot
ExecStart=/home/ubuntu/shopifyasst/deploy/service.sh